<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.FormatLib</string>
	<key>CFBundleName</key>
	<string>FormatLib</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>OSAScriptingDefinition</key>
	<string>FormatLib.sdef</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>804.5</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>0</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>577</real>
		<key>savedFrame</key>
		<string>425 33 1062 744 0 0 1280 777 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
